<div class="container">
  <div class="row">
    <div class="mx-auto">
<%= render 'searches/searched' %>
</div>
</div>
</div>


<div class="container px-5 px-sm-0">
  <div class="row">

<%= render 'books/list',book: @book, user: @user %>

<div class="col-md-8 offset-md-1">
<h1>Books</h1>

<table class="table table-hover table-inverss">
  <tr>
    <th></th>
    <th>Title</th>
    <th>Opinion</th>
    <th>Comments</th>
    <th>Favorites</th>
  </tr>

  <% @user_new.each do |book| %>
  <tr>
    <td><%= image_tag book.user.get_profile_image(100,100) %></td>
    <td><%= link_to book_path(book.id) do %>
    <%= book.title %></td>
    <% end %>
    <td><%= book.body %></td>
    <td>コメント<%= book.book_comments.count %>件</td>
    <td><%= book.favorites.count %>いいね</td>
    <% end %>
  </tr>

</table>
</div>
</div>
</div>